@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: #2c68d0;
    transition: left 300ms;
}

.profile {
    text-align: center;
    padding: 2.5rem 0rem;
}

.profile h4 {
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.side-menu ul {
    text-align: center;
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.side-menu a span,
.side-menu a small {
    color: #fff;
}

#menu-toggle:checked~.sidebar {
    width: 60px;
}

#menu-toggle:checked~.sidebar .side-header span {
    display: none;
}

#menu-toggle:checked~.main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked~.main-content header {
    left: 60px;
}

#menu-toggle:checked~.sidebar .profile,
#menu-toggle:checked~.sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked~.sidebar .side-menu a span {
    font-size: 1.3rem;
}

.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #fff;
    transition: left 300ms;
}

.header-content,
.header-menu {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: 9px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    color: black;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: whitesmoke;
    margin-bottom: 40px;
}

.page-header h1,
.page-header small {
    color: black;
}

    /*============ Tourist & Company Dashboard Styling  ===============*/
.page-content {
    padding: 1.3rem 1rem;
    background: #f1f4f9;
}  

table {
    border-collapse: collapse;
}

table thead tr {
    background: #e9edf2;
}

table thead th {
    padding: 1rem 0rem;
    text-align: left;
    color: #444;
    font-size: .9rem;
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 1rem 0rem;
    color: #444;
}

table tbody td:first-child {
    padding-left: 1rem;
    font-size: .9rem;
    font-weight: 600;
}

table tbody tr {
    border-bottom: 1px solid #dee2e8;
}

.btn {
    background-color: #2c68d0;
    color: #FFF;
    font-size: 13px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-2 {
    color: #FFF;
    font-size: 13px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

    /*============ View More Section Styling ===============*/
.container {
    max-width: 1180px;
    margin-left: 5%;
}

.tourist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 2rem;
}

.tourist-container .box {
    flex: 1 1 17rem;
    max-width: 30%;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    border-radius: 0.5rem;
}

.tourist-container .box img {
    width: 100%;
    height: 180px;
    object-position: center;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.tourist-container .box h3 {
    font-size: 16px;
}

.tourist-container .box span {
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.tourist-container .box .bx {
    font-size: 18px;
    color: gold;
    margin: 0.8rem 0;
}

.tourist-container .box .bx span {
    color: black;
    font-size: 15px;
}

.action-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-info {
    margin-left: 10px;
    font-size: 14px;
}

.tourist-container .box .btn-2 {
    background: #2c68d0;
    color: #FFF;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    margin-top: 12px;
    max-width: 120px;
    cursor: pointer;
}

    /*============ Booking Section Styling ===============*/
.booking {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 {
    width: 100%;
    max-width: 600px;
    padding: 15px;
}

.form-title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 6px;
    color: black;
    border-bottom: 2px solid black;
}

.main-user-info {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 8px;
}

.user-input-box label {
    color: black;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0;
}

.user-input-box input,
textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.success-message {
    text-align: center;
    color: #2c68d0;
}

.error-message {
    text-align: center;
    color: #ff0000;
}

.status-approved {
    color: #2c68d0;
}

.status-pending {
    color: gold;
}

.info-message {
    text-align: center;
}

.form-submit-btn input {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

    /*============ Admin Dashboard Styling ===============*/
.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
}

.card-progress small {
    color: #777;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #22baa0;
}

.indicator.two {
    background: #11a8c3;
}

.indicator.three {
    background: #f6d433;
}

.indicator.four {
    background: #dbc6bd;
}

.records {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 3px;
}

.record-header h3 {
    padding: 15px;
}

.record-search{
    margin: 20px;
}

select, .browse input {
    height: 35px;
    border: 1px solid #b0b0b0;
    border-radius: 3px;
    display: inline-block;
    width:  150px;
    padding: 0rem .5rem;
    margin-right: .8rem;
    color: #666;
}

.delete-btn{
    background: #d90429;
}

.update-btn{
    background: #05ce2d;
}
